.edu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 20vw;
    margin-top: 1vh;
}

button{
    border: none;
    padding: 0.5rem;
    width: 20vw;
    color: white;
    font-weight: 500;
}